/*   Navigation Header Styles   */

.container-fluid
  {
    padding-left: 0px;
  }
  .navbar-brand
  {
    padding-left: 25px;
  }
/* Add a dark background color with a little bit see-through . Changes NavbarBlack*/ 
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;  /* !important override default style*/
    letter-spacing: 4px;
    opacity:0.9;
  }

/* Add a gray color to all navbar links fonts*/
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}


/* On hover, the links will turn green-cyan */
.navbar-nav li a:hover {
    color: #18d36e !important;
}

/* The active link ????? */
.navbar-nav li.active a {
    color: #18d36e !important;
    background-color:#29292c !important;
}

/* Remove border color from the hamburger button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown when selected color will be black */
.open .dropdown-toggle {
    color: #fff ;		/* Default color white*/
    background-color: #000 !important;
}

/* Dropdown links(font) to black */
.dropdown-menu li a {
    color: #000 !important;
}
/* Navigation style ends */


/*--------------------- Carousel Style-------------------------*/

.carousel-inner img {
   
     width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

/*----------------- Carousel style ends ----------------------*/

/*-------------------About Us ------------------------------*/

.section-header h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #18d26e;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header p {
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  padding-bottom: 30px;
  color: #333;
  font-family: 'Montserrat', sans-serif ;
}

#about {
  background: url("../img/about-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0;
  position: relative;

}

#about::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;

}

#about .container {
  position: relative;
  z-index: 10;
}

#about .about-col {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

#about .about-col .img {
  position: relative;


}

#about .about-col .img img {
  border-radius: 4px 4px 0 0;
}

#about .about-col .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #18d26e;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

#about .about-col i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#about .about-col:hover .icon {
  background-color: #fff;
}

#about .about-col:hover i {
  color: #18d26e;
}

#about .about-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}

#about .about-col h2 a {
  color: #000;
}

#about .about-col h2 a:hover {
  color: #18d26e;
}

#about .about-col p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
  font-family: 'Montserrat', sans-serif ;
}

/*-----------------------------------About Us Ends -------------------------------------------*/
/*-----------------------------------Courses starts -------------------------------------------*/
#courses {
  background: url("../img/about-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0;
  position: relative;

}

#courses::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;

}

#courses .container {
  position: relative;
  z-index: 10;
}


#courses
{
  padding: 70px 0;
  padding-bottom: 120px;
}


#courses .section-header h3 {
  margin-bottom: 30px;
}
#courses .container .row .col-md-6 a > img
{
margin-bottom: 20px;
}

#technical-course-list li 
{
  padding: 12px;
  list-style: none;
}

#technical-course-list li a  
{
  font-family: 'Montserrat', sans-serif;
  color:#111;
  font-weight: 700;
}

#technical-course-list li a:hover  
{
 
  color:#18d36e;
  
}



#nontechnical-course-list li 
{
  padding: 8px;
  list-style: none;
}

#nontechnical-course-list li a  
{
  font-family: 'Montserrat', sans-serif;
  color:#111;
  font-weight: 700;
}

#nontechnical-course-list li a:hover  
{
 
  color:#18d36e;
  
}


/*---------------------------------Courses ends --------------------------------------*/
/*-----------------E-Learning starts -------------------------------------------------------*/


 .bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
#elearning
{
  padding: 60px 0;
}
/* Remove border and add padding to thumbnails */
#elearning .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

#elearning .thumbnail p {
    margin-top: 15px;
    color: #555;
}

/* Black buttons with extra padding and without rounded borders */
#elearning .btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */
#elearning .btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

/* Add a dark gray background color to the modal header and center text */
#elearning .modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

#elearning .modal-header, .modal-body {
    padding: 40px 50px;
}

/*----------------------------E-Learning ends ----------------------------------------*/

/*---------------------------Contact us starts----------------------------------------------*/
#contact
{
   padding: 60px 0;
}

#contact .contact-info
{
  text-align: center;
  margin-bottom: 20px;
}
#contact .contact-info i
{

font-size: 48px;
display: inline-block;
margin-bottom: 10px;
color: #18d26e;

}

#contact .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #18d26e;
}

#contact .contact-address, #contact .contact-phone, #contact .contact-email {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 20px 0;
  }
}


@media (min-width: 768px) {
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}
#contact input, #contact textarea {
  padding: 20px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}
#contact button
{
  background: #18d26e;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.8s;
  
}

#contact button:hover
{
background: #13a456;
}



/*-----------------------------Contact us ends-----------------------------------------------*/
/*------------------------------Footer starts---------------------------------------*/
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}


/*------------------------Footer ends------------------------------*/