/*---------------------------- Heading------------------------------*/ 
.data-heading {padding: 80px 20px; font-size: 22px; font-weight:900; margin: 0px; line-height: 35px;padding-bottom: 30px;font-family: 'Montserrat', sans-serif;background: 	#F5F5DC;text-align: center;}
.bannersc{background: #010000 center; background-size: cover;}
.padcrouse {padding: 38px 20px 39px;}
.text-white{color: white;font-family: 'Montserrat', sans-serif;text-align: center;}
.sectionbg2 {background: #F5F5DC; padding: 30px 0px;}




.vertical-side-line
{
	border-right :1px solid red;
	color: #6c757d;
}


.text-grey
{
	color:#6c757d;
}
.row .col-md-2 img
{
	margin-left: 10px;
	margin-bottom: 3px;
}
sub
{
	font-size: 15px !important;
}


/*--------------------------Outline Headedr --------------------------*/

.outline-header
{
	background-color: #DCDCDC;
	margin-left: 90px;
	margin-right: 505px;

	
}
#course-outline-header
{
	
	padding: 8px;
	margin-left: 90px;
	font-weight: 700;

}

.list-header
{
	font-size: 18px;
	font-weight:500;
	background-color: #DCDCDC;
	margin-left: 90px;
	margin-right: 490px;

}
#plus-sign-1
{

margin-left: 400px;
font-weight: 400 !important;
}

#plus-sign-2
{

margin-left: 550px;
font-weight: 400 !important;
}

.list-style
{
	background-color: white;
	margin-left: 90px;
	margin-right: 490px;
	font-weight: 550;
	padding-top: 5px;
	padding-bottom: 5px;

}
.container-fluid
{	
	padding-bottom: 10px;

}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}

.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
    padding: 100px;
}

.item span {
    font-style: normal;
}

#header-carousel
{
	background-color:  #DCDCDC;
	padding: 8px;
	margin-left: 90px;
	font-weight: 700;
	text-align: center;
}
#back-grey
{
	background-color:  #DCDCDC;
}
/*------------------------------------------------------------*/